@media only screen and (max-width: 999px) {
    h1 {
        text-align: center;
        font-size: 40px;
    }

    #header-image {
        width: 200px;
        height: 200px;
        padding-top: 10px;
      }

    header {
        background-color: #ADD8E6;
        /* box-sizing: border-box;
        width: 30%;
        height: 5vh;
        object-fit: contain;
        text-align: center; */

        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        padding: 0;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 21px;
    }

    #image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        padding-bottom: 18px;
        padding-left: 0px;
        padding-right: -5px;
    }


    p {
        padding-bottom: 20px;
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'gill sans', serif; */
        font-family: 'Courier New', monospace;
        /* font-family: 'source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif'; */
        /* font-family: 'Montserrat Light', sans-serif; */
        font-size: 18px;
        /* color: rgba(41, 41, 41, 1);
        font-style: normal;
        word-break: break-word;
        font-weight: 300;
        box-sizing: inherit;
        letter-spacing: 3px; */
        /* color: #333;
        font-weight: 200; */
    }

    #container {
        padding-left: 20px;
        padding-right: 10px;
        margin: 0;
    }

    .box {
        width: 300px;
        height: 300px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
      }
      
      /* Style the title */
      .box h2 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }
      
      /* Style the image */
      .box img {
        max-width: 100%;
        max-height: 100%;
      }
      
      /* Create a row of boxes */
      .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .box-link {
        text-decoration: none;
        color: inherit;
      }
}

@media only screen and (min-width: 1000px) {
    #image {
        margin: auto;
        /* Set margin to auto on all sides */
        max-width: 100%;
        /* Ensure the image does not overflow its container */
        max-height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        /* Set a height for the container */
        object-fit: contain;
    }
    h1 {
        text-align: center;
        font-size: 70px;
    }

    #header-image {
        width: 260px;
        height: 260px;
        padding-top: 15px;
      }

    header {
        background-color: #ADD8E6;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 62px;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        margin: 0;
        padding: 0;
    }

    /* header {
        box-sizing: border-box;
        width: 100%;
        height: 10vh;
        object-fit: contain;
        background-color: #ADD8E6;
        text-align: center;
    } */

    h2 {
        font-size: 45px;
        padding-bottom: 1px;
    }

    h3 {
        font-size: 25px;
        padding-bottom: 1px;
    }

    p {
        padding-bottom: 20px;
        /* font-family: 'Roboto Slab', serif; */
        /* font-family: 'gill sans', serif; */
        font-family: 'Courier New', monospace;
        /* font-family: 'source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif'; */
        /* font-family: 'Montserrat Light', sans-serif; */
        font-size: 20px;
        /* color: rgba(41, 41, 41, 1);
        font-style: normal;
        word-break: break-word;
        font-weight: 300;
        box-sizing: inherit;
        letter-spacing: 3px; */
        /* color: #333;
        font-weight: 200; */
    }

    #container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .box {
        width: 400px;
        height: 400px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px;
      }
      
      /* Style the title */
      .box h2 {
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
        text-align: center;
      }
      
      /* Style the image */
      .box img {
        max-width: 100%;
        max-height: 100%;
      }
      
      /* Create a row of boxes */
      .box-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .box-link {
        text-decoration: none;
        color: inherit;
      }
}